# User-specific files
*.suo
*.sdf

# User image
*.jpg

# Compressed files
*.rar
*.zip

# Executable files
*.exe

# Compile files
*.ilk
*.pdb
*.obj
*.tlog
*.log
*.manifest
*.lastbuildstate
*.res
*.cache
*.exp
*.aps
*.pch
*.unsuccessfulbuild
*.opensdf
*.idb

# directory
ipch/
GeneratedFiles/
output/
Demo/
SDK/
Tools/
DemoDLL/
DllTest/
eloam_img_v1/